/* src/App.css */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #282c34;
  color: #fff;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #61dafb;
}

h2 {
  color: #ffd700;
}

input[type="file"],
input[type="text"] {
  margin: 10px 0;
  padding: 10px;
  width: 300px;
  border: 2px solid #61dafb;
  border-radius: 4px;
  background-color: #1e1e1e;
  color: #fff;
}

input[type="file"] {
  padding: 5px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  background-color: #61dafb;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #21a1f1;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px auto;
  max-width: 600px;
  background: #1e1e1e;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

li {
  padding: 10px;
  border-bottom: 1px solid #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

li:last-child {
  border-bottom: none;
}

li:hover {
  background-color: #333;
}

li.active {
  background-color: #61dafb;
  color: #282c34;
}

.ReactPlayer {
  margin: 20px 0;
  background: #000;
  border-radius: 4px;
  overflow: hidden;
}

